<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1>About my astro site</h1>
    <h2>... and my new Astro Site</h2>
    <p>
        I am working through Astro's introductory tutorial.
        This is the second page on my website, and it's the first
        I built myself.
    </p>
    <p>
        This site will update as I complete more of the tutorial
        and learn more about Astro. So keep checking it to see
        how my journey is going!
    </p>
</body>
