<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1>A blog page</h1>
    <p>
        This is where I'll post about the tutorial progress
        as well as my journey learning Astro.
    </p>
</body>
