---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("./posts/*.md");
---
<BaseLayout>
    <h1>A blog page</h1>
    <p>
        This is where I'll post about the tutorial progress
        as well as my journey learning Astro.
    </p>
    <ul>
        {
            allPosts.map(
                post => <BlogPost href={post.url} text={post.frontmatter.title} />
            )
        }
    </ul>
</BaseLayout>
