<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>
<a href="/physics">Physics Animation</a>


<style>
    a:not(:last-child) {
        margin-right: 1rem;
    }
    a {
        color: #202020;
    }
</style>
